.sign-in-error {
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

.sign-in-login {
    max-width: 20em;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sign-in-logout {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.sign-in-label-input-pair {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

.sign-in-label-input-pair input[type="text"] {
    font-size: 1.0em;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.sign-in-login input[type="submit"] {
    font-size: 1em;
    padding: 0.25em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    min-width: 50%;
}

.sign-in-label-checkbox-pair {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

.sign-in-label-checkbox-pair checkbox {
    align-self: flex-start;
    height: 1.5em;
    width: 1.5em;
}